<div class="index-container">
<h2>Items List</h2>
  <% @items.each do |item| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= image_tag item.image.url(:thumb) %>
      <h5><%= link_to "Edit", edit_admin_item_path(item) %></h5>
      <h4><%= link_to "#{item.title}", admin_item_path(item) %></h4>
    </div>
  <% end %>
</div>
