<div class="dashboard">
<h1>Admin Dashboard - Welcome <%= current_user.name %>!</h1>
  <h3><%= current_user.picture.url(:small) %></h3>
  <div class="admin-links">
    <p><%= link_to "All Items", admin_items_path %><br></p>
    <p><%= link_to "Add New Item", new_admin_item_path %><br></p>
  </div>
</div>
