<div class="checkouts_page">
  <h2>Your Cart</h2>
  <table border = 2px >
    <tr>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
    <tr>
  <% @items.each do |item| %>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td>NEED TO IMPLEMENT - HUNDIT</td>
    </tr>
  <% end %>
    <tfoot>
      <tr>
        <td></td>
        <td>Subtotal</td>
        <td>ORDERID or something else TBD</td>
      </tr>
    </tfoot>
  </table>
</div>
