<div class="index-container">

<h2>All Menu Items</h2>

  <% @items.each do |item| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= image_tag item.image.url(:thumb) %>
      <h4><%= link_to "#{item.title}",item_path(item) %></h4>
    </div>
  <% end %>
</div>
