<div class="form">

<%= form_for([:admin, @category]) do |f|%>
  <div "><%= f.text_field :name, placeholder: "Name" %></div><br>
    <div "><%= f.text_area :description, placeholder: "Description" %></div><br>
</div>
      <div class="submit"><%= f.submit %></div>
<% end %>
