<h1>Categories List</h1>
<% @categories.each do |category| %>
  <p><strong><%= category.name %></strong><br>
  <%= category.description %></p> 
<% end %>
<%= button_to "Create Category", new_admin_category_path, method: 'get' %>
