body {
  padding-top: 0px;
  background: image-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: monospace;

}

.navbar-brand{
  font-family: 'Playfair Display', cursive !important;
  font-size: 30px !important;
  color: black;
}

h1 {
  font-family: 'Playfair Display', cursive !important;
  color: black;
}

.front-page-image {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
}

.navbar {
   background-color: white;
   background: white;
   opacity: .8;
   color: #777;
   z-index: 10000

}

.navbar li {
  color: #000;
}


.nav.navbar-nav.navbar-right li a {
    color: #777;
}

.nav.navbar-nav.navbar-left li a {
    color: #777;
}


/*.container{
  margin-left: 30%;
  margin-right: auto;
}*/

.jumbotron{
  opacity: .7;
  background-color: white;
}

.jumbotron1{
  opacity: .5;
  background-color: white;
}

.carousel{
  margin:0 auto 50px;
  z-index: 2;
  width:100%;
  height: 250px;
  overflow:hidden;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width:100%;
}

#flash_notice {
  font-family: monospace;
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

#flash_errors{
  font-family: monospace;
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

#flash_messages{
  font-family: monospace;
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}
#flash_message{
  font-family: monospace;
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}
#flash_error{
  font-family: monospace;
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

// table td {
//   font-family: monospace;
//   border: 2px solid black;
//   padding: 10px;
//   align: center;
// }
//
// .admin_orders_list {
//   font-family: monospace;
//   width: 65%;
//   padding: 5px;
//   border: 1px solid;
//   height: 300px;
//   overflow: auto;
// }
//
.user_orders_list {
  font-family: monospace;
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 300px;
  overflow: auto;
}
// .center_div {
//   font-family: monospace;
//   padding: 3px;
//   margin-right: 10px;
// }
//
// .dropdown-menu li:hover .sub-menu {
//   font-family: monospace;
//     visibility: visible;
// }
//
// .dropdown:hover .dropdown-menu {
//   font-family: monospace;
//     display: block;
// }
//
// .account{
//     float:left
// }
//
.admin_orders_list h3 {
  font-family: monospace;
  text-align: center;
}
//
// .dashboard {
//   float: left;
//   margin-left: 5%;
// }
//
// .index {
//   float: left;
//   list-style: none;
//   margin-left: 10px;
// }
//
.container h1 {
  text-align: center;
}

.container {
  font-family: monospace;
}

.container .index{
  text-align: center;
  float: left;
  list-style: none;
  width: 200px;
}

.field {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%
}

.collection {
  padding: 3px;
}
