body {
  padding-top: 0px;
  background: image-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  font-family: 'Playfair Display', cursive !important;
  font-size: 30px !important;
  color: black;
}

h1 {
  font-family: 'Playfair Display', cursive !important;
  color: black;
}

/*.colors {
  color: white;
}*/

.front-page-image {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
}

.navbar {
   background-color: white;
   background: white;
   opacity: .8;
   color: black;
   z-index: 10000

}

.navbar li {
  color: #000;
}


.nav.navbar-nav.navbar-right li a {
    color: black;
}

.nav.navbar-nav.navbar-left li a {
    color: black;
}


/*.container{
  margin-left: 30%;
  margin-right: auto;
}*/

.jumbotron{
  opacity: .7;
  background-color: white;
}

.jumbotron1{
  opacity: .5;
  background-color: white;
}

.carousel{
  margin:0 auto 50px;
  z-index: 1;
  width:100%;
  height: 250px;
  overflow:hidden;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width:100%;
}

#flash_notice {
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

#flash_errors{
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

#flash_messages{
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}
#flash_message{
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}
#flash_error{
  text-style: bold;
  text-color: red;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding:4px;
  border-radius: 100px;
  color: cornsilk;
  background-color: darkgrey;
}

table td {
  border: 2px solid black;
  padding: 10px;
  align: center;
}

.admin_orders_list {
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 300px;
  overflow: auto;
}

.user_orders_list {
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 300px;
  overflow: auto;
}
.center_div {
  padding: 3px;
  margin-right: 10px;
}

.admin_orders_list h3 {
  text-align: center;
}
