body {
  padding-top: 0px;
  background: url("DSCF1407") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*margin-left: auto;
  margin-right: auto;*/

}

.navbar-brand{
  font-family: 'Playfair Display', cursive !important;
  font-size: 30px !important;
  color: black;
}

h1 {
  font-family: 'Playfair Display', cursive !important;
  color: black;
}

/*.colors {
  color: white;
}*/

.front-page-image {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
}

.navbar {
   background-color: white;
   background: white;
   opacity: .8;
   color: black;
}

.navbar li { color: #000 }


.nav.navbar-nav.navbar-right li a {
    color: black;
}

.nav.navbar-nav.navbar-left li a {
    color: black;
}


/*.container{
  margin-left: 30%;
  margin-right: auto;
}*/

.jumbotron{
  opacity: .7;
  background-color: white;
}

.jumbotron1{
  opacity: .5;
  background-color: white;
}
