body {
  padding-top: 0px;
  background: url('DSCF1407.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

.navbar-brand{
  font-family: 'Playfair Display', cursive !important;
  font-size: 30px !important;
  color: black;
}

h1 {
  font-family: 'Playfair Display', cursive !important;
  color: black;
}

/*.colors {
  color: white;
}*/

.front-page-image {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
}

.navbar {
   background-color: white;
   background: white;
   opacity: .8;
   color: black;
   z-index: 10000

}

.navbar li {
  color: #000;
}


.nav.navbar-nav.navbar-right li a {
    color: black;
}

.nav.navbar-nav.navbar-left li a {
    color: black;
}


/*.container{
  margin-left: 30%;
  margin-right: auto;
}*/

.jumbotron{
  opacity: .7;
  background-color: white;
}

.jumbotron1{
  opacity: .5;
  background-color: white;
}

.carousel{
  margin:0 auto 50px;
  z-index: 1;
  width:100%;
  height: 250px;
  overflow:hidden;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width:100%;
}
