body {
  padding-top: 0px;
  background: url("DSCF1407") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-family: 'Playfair Display', cursive !important;
  color: black;
}

/*.colors {
  color: white;
}*/

.front-page-image {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
}

.navbar {
   background-color: transparent;
   background: transparent;
   color: white;
}

.navbar li { color: #000 }


.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
}


.container{
  margin-left: 30%;
  margin-right: auto;
}
