<%= @category.name %>
<% @category.items.each do |item| %>
  <div class="item_title">
  <%= link_to item.title, item_path(item) %>
  </div>
  <div class="description">
  <%= item.description %>
  </div>
<% end %>
