<h1><%= @category.name %></h1>
<% @category.items.each do |item| %>
  <div class="item_title">
  <h3><%= link_to item.title, item_path(item) %></h3>
</div>
  <div class="description">
  <%= item.description %>
  </div>
<% end %>
